<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Provider" value="System.Data.OleDb"/>
    <add key="ConnectionString" value="Provider=Microsoft.JET.OlEDB.4.0;Data Source=D:\Repos\PayCare\PayCare.View\bin\Debug\PAYCARE.mdb"/>
    <add key="DatabasePath" value="D:\Repos\PayCare\PayCare.View\bin\Debug"/>
    <add key="ReportPath" value="D:\Repos\PayCare\PayCare.View\Report"/>
    
  </appSettings>
</configuration>